

body {
    font-family: sans-serif;
    background-color: rgb(229, 253, 248)
}
nav {
    width: 200px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 30px;
}
a {
    display: block;
    text-decoration: none;
    color:#000;
    padding-left: 8px;
}
a:hover {
    background: #e0e0d1;
}
a:active {
    background: #9a91a9;
    background: ;
    color:#fff;
}
ul li:first-child  {
    background: hsl(46, 93%, 54%);
}
ul li :first a {
    color: #fff;
}